<nav class="navbar navbar-default">
{% load static %}
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/admin/">Login</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{% url "polls:index" %}">Home</a></li>
            <li><a href="/polls/1/">香港島</a></li>
            <li><a href="/polls/2/">九龍西</a></li>
            <li><a href="/polls/3/">新界東</a></li>
            <li><a href="/polls/4/">建築、測量、都市規劃及園境界</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
